.author-dashboard {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.new-author-cta {
  align-self: flex-end;
  margin-bottom: 15px;
}

.edit-btn {
  margin-right: 20px;
}