* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}


body {
  font-size: 62.5%;
  font-family: 'Quicksand';
}

#app {
  min-height: 100%;
}


.app-container {
  display: flex;
  height: 100%;
  position: relative;
}
