.inventory-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3px;

  @media screen and (min-width: 670px) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.inventory-grid-item {
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.item-count-container {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
  padding: 1px;
  font-size: 14px;
}