.detail-section {
  display: flex;
}

.detail-value {
  margin-left: 20rem;
  font-weight: bold;
}

.card-content {
  justify-content: center;
  width: 100%;
}

.form-section {
  display: flex;
}

.section-title {
  flex: 0 0 30%;
}

.section-fields {
  margin-left: 2rem;
  flex: 1;

  &.password {
    display: flex;
    width: 50%;
    justify-content: space-between;
    flex-direction: column;
  }
}

.card-footer {
  padding: 10px;
  margin-top: 15px;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid rgba(231, 184, 55, 0.1)
}

.card-footer-item {
  flex: 0;
  margin: 0 20px;

  &:not(:last-child) {
    border: none;
  }
}

.cancel-btn {
  padding: 0;
}

.user-account-details {
  background-color: #080C11;
  box-shadow: 0 2px 3px rgba(231, 184, 55, 0.1), 0 0 0 1px rgba(231, 184, 55, 0.1);
}

.card-header-title {
  color: #E7B837;
}

.card-header {
  border-bottom: 1px solid rgba(231, 184, 55, 0.1);
  margin-bottom: 10px;
}

.section-title {
  color: #E7B837;
}

hr {
  background-color: #E7B837;
}

button.button {
  border: 0.5px solid rgba(247,173,59, 0.3);
}