api/node_modules
api/config/config.json
api/.idea
api/.vscode
api/yarn-error.log
api/.env
api/database/config/config.json
web/node_modules/*
.editorconfig
web/.eslintrc
web/.editorconfig
web/.gitignore
web/.vscode/*
api/package-lock.json
api/database/config/config.json
web/.env