backend/node_modules
backend/config/config.json
backend/.idea
backend/.vscode
backend/yarn-error.log
backend/.env
frontend/node_modules/*
.editorconfig
frontend/.eslintrc
frontend/.editorconfig
frontend/.gitignore
frontend/.vscode/*
backend/package-lock.json