.app {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 80px auto;
  grid-template-areas: "sidebar navbar"
                       "sidebar main";
}

.main-container {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}