.stat-panel {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 1.5rem;
}

.stat-item {
  display: flex;
  align-items: center;
  margin: 1rem auto;
}

.stat-icon {
  font-size: 3.4rem;
  color: $color-primary-5;
}

.stat-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.7rem;

}

.stat-info-number {
  font-size: 2rem;
  color: $color-primary-1;
  font-weight: 400;
  text-align: center;
}

.stat-info-title {
  font-size: 1.5rem;
  color: $color-grey-7;
  font-weight: 300;
  text-align: center;
}
