.sidebar {
  
background-color: $color-grey-2;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: bold;
    font-size: 2.8rem;
    color: $color-white;
    padding-left: 2.1rem;
    padding-top: 2.6rem;
  }

  &__navigation-section {

    display: flex;
    flex-direction: column;
    margin-top: 5.4rem;

  }

}

.navigation {

  &__heading {

    color: $color-grey-6;
    font-size: 1.8rem;
    font-weight: 300;
    margin-left: 2.1rem;
    margin-bottom: 2rem;
  }

  

  &__list {

    border-bottom: 1px solid rgba($color-grey-8, .32);
    list-style: none;
    margin-bottom: 1.55rem;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
    &-dropdown-icon {
      margin-right: 1.8rem;
    }

    &-items {

      transition: all .2s linear;
      max-height: 500px;
      opacity: 1;
      overflow: hidden;

      &:not(&--active) {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
      }

    }

    &-title {
      font-size: 1.3rem;
      font-weight: 600;
      color: $color-grey-5;
      text-transform: uppercase;
      margin-left: 2.1rem;
      letter-spacing: .06rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.3rem;

      &:hover {
        cursor: pointer;
      }

    }

    & a {
      text-decoration: none;
      outline: none;
    }

    &-item {
      
      padding-left: 2rem;
      box-sizing: border-box;
      font-size: 1.4rem;
      color: $color-white;
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
      font-weight: 400;

      &--active {
        background-color: rgba($color-grey-10, .2);
        font-weight: 700;
      }

      &:hover:not(&--active) {
        background-color: $color-grey-1;
      }

    }

    &-icon {
      margin-right: .9rem;
    }

  }
}