
.card-content { 
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
  flex-direction: column;
}

.read-more-link {
  align-self: flex-end;
}

.news-metadata {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
}

.news-feed-card {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.news-article-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
}

.news-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 85%;
}

.article-metadata {
  display: flex;
  width: 100%;
}

.article-timestamp {
  margin-right: auto;
}

.article-content {
  margin-top: 40px;
  overflow-y: auto;
  word-break: break-word;
}

.news-list-pagination {
  margin-bottom: 1.5rem;
}

.news-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-news-found {
  font-size: 2rem;
  font-weight: 300;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: .5px solid #e7e7e7;
}

.news-feed-card {
  background-color: #080C11;
  box-shadow: 0 2px 3px rgba(231, 184, 55, 0.1), 0 0 0 1px rgba(231, 184, 55, 0.1);
}

.card-header-title {
  color: #E7B837;
  border-bottom: 0.5px solid #E7B837;
}

.read-more-btn {
  margin-left: auto;
  margin-right: 35px;
  text-decoration: underline;
}