.loading-circle {
  width: 20px;
  height: 20px;
  border: 2px solid $color-white;
  border-bottom: 2px solid $color-primary-1;
  border-radius: 50%;
  backface-visibility: none;
  animation: circle-spin .5s infinite linear;
}


@keyframes circle-spin {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}