.form-auth {

  display: flex;
  flex-direction: column;

  margin: 2rem;

  &__label {
    font-size: .9rem;
    color: $color-primary-2;
    margin-bottom: .5rem;
  }

  &__text {
    background-color: $color-primary-9;
    padding: .5rem;
    border: none;
    border-radius: 3px;
    margin-bottom: 1rem;
    font-family: 'Quicksand';
    
  }

  &__submit {
    margin-top: 2rem;
    background-color: $color-primary-9;
    color: $color-primary-1;
    font-size: 1rem;
    padding: .8rem 5rem;
    border: none;
    border-radius: 5px;
    font-family: 'Quicksand';
    cursor: pointer;
    transition: all .1s;



    &:hover {
      background-color: lighten( $color-primary-9, 3);
    }

  }

}