.navbar {
  background-color: $color-white;
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 1px 2px 4px 0 rgba(0,0,0,.03);
  &__search {

    position: relative;
    margin-left: 2rem;
    margin-top: 1.5rem;
    &-input {
      background-color: $color-grey-10;
      border: none;
      border-radius: 27px;
      padding: .7rem;
      padding-left: 6rem;
      width: 28rem;
      font-size: 2.6rem;
      color: $color-grey-6;
      font-weight: 300;
      transition: width .2s;
      font-family: 'Roboto', sans-serif;

      &:focus {

        width: 35rem;
      }
    }

    &-icon {

      position: absolute;
      top: 8px;
      left: 16px;
      font-size: 28px;
      color: $color-grey-7;
      
      &:hover {
        cursor: pointer;
      }
    }

  }

  &__auth {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 3.6rem;
    position: relative;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
   
    &-signup-btn {
      padding: .9rem 1.9rem;
      margin-right: 3.6rem;
      border: none;
      background-color: $color-white;
      color: $color-primary-1;
      border-radius: 4px;
      transition: background-color .1s;
      font-size: 2rem;
      font-weight: 300;
      outline: none;
      font-family: 'Roboto', sans-serif;
      
      &::-moz-focus-inner {
          border: 0;
      }

      &:hover {
        background-color: $color-grey-10;
        cursor: pointer;
      }

      @media screen and (max-width: $tablet-width) {
        margin-right: 1.2rem;
        font-size: 1.8rem;
      }

    }

    &-dropdown-info {
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      width: 100%;
      margin-bottom: 1rem;

      .avatar {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: $color-grey-10;
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        color: $color-grey-6;
        flex-shrink: 0;
      }

      .username {
        margin-top: 1rem;
        font-size: 1.5rem;
      }

      .email {
        font-size: 1.2rem;
        color: $color-grey-6;
      }
    }

    &-login-btn {
      padding: .9rem 1.9rem;
      border: none;
      background-color: $color-white;
      color: $color-grey-1;
      border-radius: 4px;
      font-size: 2rem;
      font-weight: 300;
      outline: none;
      font-family: 'Roboto', sans-serif;

      &::-moz-focus-inner {
          border: 0;
      }

      &:hover {
        background-color: $color-grey-10;
        cursor: pointer;
      }

      @media screen and (max-width: $tablet-width) {
        margin-right: 1.2rem;
        font-size: 1.8rem;
      }

    }


    &-user {

      width: 9.3rem;
      height: 4rem;
      border-radius: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $color-grey-10;
        margin-right: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: $color-grey-7;
      }

      &:hover {
        cursor: pointer;
      }

      &-icon {
        color: $color-grey-8;
        font-size: 1.4rem;
      }

    }

    &-username {
      font-size: 1.4rem;
      color: $color-primary-1;
      margin-right: .7rem;
    }

    &-dropdown {
      position: absolute;
      top: 7.9rem;
      right: -1rem;
      box-shadow: 0 2px 8px rgba(0,0,0,.1);
      border: 1px solid rgba(0, 0, 0, 0.09);
      background-color: #fff;
      list-style: none;
      width: 22rem;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      opacity: 0;
      transition: all .2s linear;
      border-radius: 8px;


      &::before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 59px;
        top: -12px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 12px solid #fff;
        z-index: 1;
      }

      &::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 59px;
        top: -12px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 12px solid $color-grey-6;
      }

      &--shown {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
      }
      
      &-item {
        font-size: 1.4rem;
        color: $color-grey-1;
        display: flex;
        align-items: center;
        padding: 1rem;
        padding-left: 2.3rem;

        &:last-child {
          padding-bottom: 2rem;
        }
        
        &:hover {
          cursor: pointer;
        }


        &--logout {
          color: $color-red-7;

          &:hover {
            color: $color-red-5;
          }
        }
      }

    }

    &-logout-icon {
      margin-right: 5px;
    }
  }

 

}