.auth-modal {

  background-color: $color-grey-10;
  border-radius: 10px;
  position: relative;

  &__exit {
    position: absolute;
    top: 6px;
    right: 8px;
    background-color: $color-primary-9;
    border-radius: 50%;
    font-size: .7rem;
    color: $color-primary-1;
    padding: .3rem;
    cursor: pointer;
  }
}