.news-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.card-content { 
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
  flex-direction: column;
}

.read-more-link {
  align-self: flex-end;
}

.news-metadata {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
}

.news-feed-card {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.news-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-more-btn {
  margin-left: auto;
  margin-right: 35px;
  text-decoration: underline;
}

.news-card {

  & > .card-header {
    flex-direction: column;
    justify-content: flex-start;
  }
}