.news-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.card-content { 
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
  flex-direction: column;
}

.read-more-link {
  align-self: flex-end;
}

.news-metadata {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
}

.news-feed-card {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.news-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-news-articles {
  font-size: 2rem;
  font-weight: 300;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: .5px solid #e7e7e7;
}