.tButton {
  
    background-color: $color-primary-6;
    border: none;
    border-radius: 8px;
    color: $color-white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    
    &:hover {
      cursor: pointer;
    }
    
}