.toast {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: auto;
  padding: 1.5rem;
  font-size: 1.3rem;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }

  &.SUCCESS {
    background: linear-gradient(to right, $color-green-6, $color-green-5);
    color: $color-green-2;
  }

  &.ERROR {
    background: linear-gradient(to right, $color-red-8, $color-red-7);
    color: $color-red-2;
  }

  &.WARNING {
    background: linear-gradient(to right, $color-yellow-5, $color-yellow-4);
    color: $color-yellow-2;
  }
}
