.filter-heading {
  margin-bottom: 1rem;
}

.clear-filters {
  margin-left: 1rem;
  margin-right: .5rem;
}

.no-rankings-found {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.filter-container {
  background-color: #0E1419;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

hr {
  background-color: #F7AD3B;
}