html, 
body {
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #0f151b;
}

html {
  overflow-y: auto !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background: url('~/img/assets/Header.png') no-repeat;
  background-position: top;
  background-color: #0F151B;
}

.app-bootstrapper {
  height: 100%;
  width: 100%;

  .button {
    &.is-primary {
      background-color: #0d1014;
      color: #F7AD3B;

      &:hover {
        cursor: pointer;
        color: #FFFFFF;
        background-color: #0D1014;
      }

      &:active {
        background-color: #0d1014;
        color: #F7AD3B;
      }

      &:focus:not(:active) {
        box-shadow: 0 0 0 .125em rgba(247, 173, 59, 0.25);
      }
    }
  }

  a {
    color: #F7AD3B;

    &:hover {
      color: #FFFFFF;
    }
  }


  .input {
    background-color: #0D1014;
    color: #F7AD3B;
    box-shadow: none;
    border-color: rgba(247, 173, 59, 0.5);
    
    &:disabled {
      background-color: #13181D;
      color: rgba(247,173,59, 0.5);
      border-color: rgba(247,173,59, 0.3);
    }
  }

  .label {
    color: #F7AD3B;
    font-size: 12px;
  }

  .card-content {
    padding: 0 1.5rem;
  }

  .loading-overlay {
    .loading-background {
      background: rgba(0, 0, 0, 0.7);
    }

    .loading-icon::after {
      border-color: #F7AD3B;
      border-right-color: transparent;
      border-top-color: transparent;
    }
  }

  .collapse.card {
    background-color: #0C1317;
    color: #F7AD3B;
    box-shadow: 0 2px 3px rgba(231,184,55,.1),0 0 0 1px rgba(231,184,55,.1);
  }

  .tabs.is-toggle {
    li {
      a {
        background-color: #13181D;
        border-color: rgba(231,184,55,.1);
        color: #F7AD3B;
      }
    }
    li.is-active {
      a {
        background-color: #F7AD3B;
        border-color: rgba(231,184,55,.1);
        color: black;
      }
    }
  }

  .b-radio.radio {
    input[type="radio"] + .check::before {
      background-color: #F7AD3B;
    }

    input[type="radio"] + .check {
      border-color: #F7AD3B;
    }
    
    input[type="radio"]:checked + .check {
      border-color: #F7AD3B;
    }

    input[type="radio"]:focus:checked + .check {
      box-shadow: 0 0 .5em rgba(231,184,55,.1);
    }

    .control-label {
      color: #F7AD3B;
    }
  }




  .table-wrapper {
    .table {
      background-color: #0E151B;
      color: #F7AD3B;
      border-color: #F7AD3B;
    
      td, th {
        border-color: #F7AD3B;
        padding: .75em .75em;
      }

      thead td, thead th {
        color: #F7AD3B;
      }
    }
  }
}