.management-panel-container {
  padding: 1.8rem 3.6rem;
  background-color: $color-white;
  width: 100%;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: $color-grey-1;
  font-size: 2rem;
  font-weight: 300;
}

.search-field {
  font-size: 1.5rem;
  padding: .8rem;
  border-radius: 1.8rem;
  border: 0.25px solid $color-grey-7;

  &::placeholder {
    color: $color-grey-7;
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: none;
  }

}


.panel-navigation {
  margin-top: 2.5rem;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1.1rem;
  border-bottom: .5px solid $color-grey-9;
}

.nav-list-item {

  font-size: 1.5rem;
  color: $color-grey-8;
  font-weight: 400;

  &:hover {
    cursor: pointer;
    color: $color-grey-6;
  }

  &:not(:last-child) {
    margin-right: 3.8rem;
  }

  &.active {
    color: $color-grey-1;
    margin-bottom: -1.2rem;
    border-bottom: 2px solid $color-primary-5;
  }
}

.cta-group {
  margin-top: 1.7rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}

.create-cta {
  padding: .7rem 1.2rem;
  color: $color-white;
  background-color: $color-green-4;
  border: none;
  border-radius: 13rem;

  &:hover {
    background-color: $color-green-5;
    cursor: pointer;
  }
}

.content {
  margin: 0px 5rem;
}

.content-table {
  border-collapse: collapse;
  width: 100%;
}

.table-header {}

.heading-list {
  list-style: none;
  padding-bottom: .8rem;
}

.heading-item {
  color: $color-grey-8;
  font-size: 1.4rem;
  text-transform: capitalize;
  border-bottom: 1px solid $color-grey-8;
  text-align: initial;
  padding-bottom: .8rem;
}

.table-content {
  margin-top: 1.5rem;
}

.content-item {
  font-size: 1.6rem;
  color: $color-grey-3;
  padding-top: .8rem;
}

.actions {
  display: flex;
}

.edit-icon {
  font-size: 1.8rem;
  color: $color-yellow-4;

  &:hover {
    cursor: pointer;
  }
}

.delete-icon {
  font-size: 1.8rem;
  color: $color-red-6;
  margin-left: 3.3rem;

  &:hover {
    cursor: pointer;
  }
}
