doctype html
html(lang="en")
  head
    title=pageTitle
    meta(name='viewport', content="width=device-width,initial-scale=1")

body
  div#app
  script(src='/frontend/chunk-vendors.js')
  script(src='/frontend/app.js')